<ion-header>
  <ion-toolbar color="primary">
    <ion-title>deliverableSubmit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 16px;">
    <h6>Deliverable Guidelines</h6>
    <p>
      1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, veniam? Dolores, quidem inventore. Deleniti
      laudantium saepe at consequatur
    </p>
    <p>
      2. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, veniam? Dolores, quidem inventore. Deleniti
      laudantium saepe at consequatur
    </p>
    <p>
      3. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, veniam? Dolores, quidem inventore. Deleniti
      laudantium saepe at consequatur
    </p>
    <hr>
    
    <h6>Sample Images/Videos</h6>



    <ion-item>
      <ion-label position="stacked">Post Link</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button expand="block" fill='clear'>Upload Screenshot</ion-button>

    <ion-button expand="block" fill='solid'>Submit Proof</ion-button>
  </div>
</ion-content>