.deliverableName {
    font-size: 1.1rem;
    color: black;
    font-family: 'Bree Serif', serif;
}


// .campaignName {
//     font-size: 1rem;
//     // margin: 16px 0px 8px 16px;
//     color: black;
//     font-family: 'Bree Serif', serif;
// }