.instructions {
    font-family: 'Raleway', sans-serif;
    // margin-bottom: 8px;
    padding-bottom: 8px;
}

.sectionHeading {
    margin-top: 4px;
    margin-bottom: 8px;
    color: black;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}